@import './src/assets/scss/variables';

.navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  background-color: $white;
  //   dark-theme
  &--dark {
    border-bottom: 1px solid $dark-mode-elements;
    background-color: $dark-mode-background;
  }

  //   logo
  &__logo {
    font-weight: $font-normal;
    text-decoration: none;
    color: inherit;
  }

  //   theme section
  &__theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  // theme text
  & span {
    margin-left: 5px;
    font-weight: $font-normal;
  }
}

.sun-icon {
  width: $homepage-font-size;
  height: $homepage-font-size;
}

.moon-icon {
  fill: $white;
  width: $homepage-font-size;
  height: $homepage-font-size;
}
